<div class = "container" #container>
  <form [formGroup] = "chartsForm" (ngSubmit) = "onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Number</label>
        <input type="text" class="form-control" id="inputnumber1" placeholder="Enter Number" formControlName="number1">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Number</label>
        <input type="text" class="form-control" id="inputnumber2" placeholder="Enter Number" formControlName="number2">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" formControlName="operator">
          <option selected>+</option>
          <option>-</option>
          <option>*</option>
          <option>/</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class = "alternate-theme" #submitbutton>
  <button mat-raised-button color = "primary" (click) = "onSubmit()">Enter</button>
</div>


<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>


<div class = "alternate-theme" #demo>
  <button mat-raised-button color="primary" (click) = "switchThemes(demo, submitbutton, container)">Switch Theme</button>
</div>























<!-- <form [formGroup] = "chartsForm" (ngSubmit) = "onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Number</label>
      <input type="text" class="form-control" id="inputnumber1" placeholder="Enter Number" formControlName="number1">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Number</label>
      <input type="text" class="form-control" id="inputnumber2" placeholder="Enter Number" formControlName="number2">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" formControlName="operator">
        <option selected>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enter</button>
</form> -->

